<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.min.css') }}">
  <link rel="icon" href="../static/Cheetah.jpg" type="image/x-icon"/>
</head>
<nav class="navbar navbar-dark bg-dark text-light">
  <a class="navbar-brand" href="{{url_for('Home')}}">
    <img src="../static/Cheetah.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    &nbsp &nbsp Lightspeed College Search
  </a>
  <a class="nav-item nav-link text-light" href="{{url_for('allColleges')}}">Colleges</a>
  <a class="nav-item nav-link text-light" href="#">Tours</a>
  <a class="nav-item nav-link text-light" href="#">Forum</a>
  <a class="nav-item nav-link text-light" href="#">Login</a>

</nav>

<body>
  <div style="margin-top: 30px;margin-left: 5px;margin-bottom:100px;">
    <div class="container">
      <section class="jumbotron text-center bg-light">
        <h1 class="jumbotron-heading">More options. More resources.</h1>
        <p class="lead text-muted">Scroll down to search through our database of universities</p>
      </section>
      <hr class="style15" style="margin-bottom: 30px;">

      <div class="row" style="padding: 25px 50px 100px 150px;">
        {% for c in colleges %}
        <div class="card" style="width: 18rem; max-height: 1000px;">
          <img class="card-img-top" src="../static/{{c.image_filename}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{c.name}}</h5>
            <p class="card-text">{{c.location}}</p>
            <a href="{{url_for('eachCollege', college_id=c.college_id)}}" class="btn btn-primary">Learn More</a>
          </div>
        </div>
        &nbsp
        &nbsp
        {% endfor %}
<br>

      </div>
</body>

</html>
