<!-- coded independently referencing Udacity Full Stack foundations tutorials to understand how to call information from database  -->

{% extends "base.html" %}
{% block hype %}More options. More resources.{% endblock %}
{% block instructions %}Scroll down to search through our database of universities{% endblock %}
{% block content %}
<div style="margin-top: 30px;margin-left: 5px;margin-bottom:100px;">
  <div class="container">
    <hr class="style15" style="margin-bottom: 30px;">

    <div class="row" style="padding: 25px 50px 100px 150px;">
      {% for c in colleges %}
      <div class="card" style="width: 18rem; max-height: 1000px;">
        <img class="card-img-top" src="../static/{{c.image_filename}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{c.name}}</h5>
          <p class="card-text">{{c.location}}</p>
          <a href="{{url_for('eachCollege', college_id=c.college_id, college_city_id=c.college_city_id)}}" class="btn btn-primary">Learn More</a>
        </div>
      </div>
      &nbsp
      &nbsp
      {% endfor %}
<br>

    </div>
{% endblock %}
