<!-- coded independently referencing Udacity Full Stack foundations tutorials to understand how to call information from database  -->

{% extends "base.html" %}
{% block hype %}Get the insider's scoop on your dream college{% endblock %}
{% block instructions %}Scroll down to find the right tour for you{% endblock %}
{% block content %}
<div class="row" style="padding: 25px 50px 100px 150px;">
  {% for t in tours %}
  <div class="card" style="width: 18rem; max-height: 1000px;">
    <img class="card-img-top" src="../static/{{t.image_tour}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Type: {{t.type}}</h5>
      <p class="card-text">Popularity: {{t.popularity}}</p>
      <a href="{{t.virtual_tour}}" class="btn btn-primary">Virtual Tour</a>
    </div>
  </div>
  &nbsp
  &nbsp
  {% endfor %}
  <br>

</div>
{% endblock %}
