<!-- coded independently referencing Udacity Full Stack foundations tutorials to understand how to call information from database  -->

{% extends "base.html" %}
{% block hype %}{{colleges.name}}{% endblock %}
{% block instructions %}Everything you're looking for is right here{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-5 text-center">
    <img src="{{url_for('static',filename=colleges.image_filename)}}" alt="{{colleges.image_filename}}" style="min-width:450px;max-width:451px;" class="img-thumbnail">
  </div>
  <div class="col-md-7">
    <ul class="list-group">
      <li class="list-group-item">Address: {{colleges.location}}</li>
      <li class="list-group-item">Phone Number: {{colleges.phone_number}}</li>
      <li class="list-group-item">Type: {{colleges.college_type}}</li>
      <li class="list-group-item">Available tour types: {{colleges.tours.type}}</li>
      <br>
      <h4 style="text-indent: 20px;"> Current weather in {{weather.city}}</h4>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <ul>
              <li style="font-size: 20px;">{{weather.temperature}} °F</li>
              <li style="font-size: 20px;">{{weather.description}}</li>
            </ul>
          </div>
          <div class="col-md-4">
            <img class="card-img-top" src="http://openweathermap.org/img/w/{{weather.icon}}.png" alt="Card image cap" style="width: 90px;">
          </div>
        </div>
      </div>

    </ul>
  </div>
</div>
<br><br><br>
{% endblock %}
