<!-- coded independently referencing Udacity Full Stack foundations tutorials to understand how to call information from database  -->

{% extends "base.html" %}
{% block hype %}New horizons await.{% endblock %}
{% block instructions %}Search for an city below to see its weather. Road trip plans just got a whole lot easier.{% endblock %}
{% block content %}
<div class="container">
  <div class="card">
    <div class=" card-body">
      <h5 class="card-title">Search for new cities 🏙</h5>

      <section class="section" style="text-align: center;">
        <div class="container">
          <div class="columns">
            <div class="column is-offset-4 is-4">
              <form method="POST">
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input class="input" name="name" type="text" placeholder="City Name">
                  </div>
                  <div class="control">
                    <button class="button is-info">
                      Add City
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
<br><br><br>
{% endblock %}
