{% extends "base.html" %}
{% block hype %}College. It's important.{% endblock %}
{% block instructions %}Fill out the form below to add a college to our database{% endblock %}
{% block content %}
<div class="container">

  <div class="card">

    <form action="{{url_for('new_college',colleges=colleges, cities=cities, regions=regions, all_tours=all_tours)}}" method='POST' enctype="multipart/form-data">

      <div class="form-group" style="width:600px;padding-left:20px;padding-top:30px;">
        <label>Name:</label>
        <input class="form-control" type='text' size='55' name='name' required='required'></input>
      </div>

      <div class="form-group" style="width:600px;padding-left:20px;padding-top:30px;">
        <label>Upload an Image:</label>
        <input type="file" name="image_filename" required='required'></input>
      </div>
      <p style="padding-left:20px;padding-top:30px;">Region:</p>

      <div style="width:390px;padding-left:20px;"><select  name="college_region" class="custom-select">
          <option value="0">Select a region</option>
          {% for r in regions %}
          <option value="{{r.name}}">{{r.name}}</option>
          {% endfor %}
        </select></div>

      <div class="form-group" style="width:600px;padding-left:20px;padding-top:30px;">
        <label>Address:</label>
        <input class="form-control" type='text' size='55' name='location' required='required'></input>
      </div>
      <p style="padding-left:20px;padding-top:30px;">City:</p>

      <div style="width:390px;padding-left:20px;"><select name="college_city" class="custom-select">
          <option value="0">Select a city</option>
          {% for c in cities %}
          <option value="{{c.name}}">{{c.name}}</option>
          {% endfor %}
        </select></div>
<br>
<p style="padding-left:20px;padding-top:30px;">Tours:</p>
      <div style="width:390px;padding-left:20px;"><select name="tours" class="custom-select">
          <option value="0">Select a tour</option>
          {% for t in all_tours %}
          <option value="{{t.type}}">{{t.type}}</option>
          {% endfor %}
        </select></div>



      <div class="form-group" style="width:600px;padding-left:20px;padding-top:30px;">
        <label>Phone Number:</label>
        <input class="form-control" type='text' size='55' name='phone_number' required='required'></input>
      </div>

      <div class="form-group" style="width:600px;padding-left:20px;padding-top:30px;">
        <label>Type of College:</label>
        <input class="form-control" type='text' size='55' name='college_type' required='required'></input>
      </div>

      <div class="form-group" style="width:600px;padding-left:20px;padding-top:30px;">
        <label>Notes:</label>
        <input class="form-control" type='text' size='55' name='notes' required='required'></input>
      </div>
      <br>

      <input type="submit" value="Add College">
      <br>
      <input class="btn btn-outline-danger btn-lg btn-block" type="reset" value='Reset All'></input>

    </form>
  </div>
</div>
</div>
<br>
{% endblock %}
