<!-- coded independently referencing Udacity Full Stack foundations tutorials to understand how to call information from database  -->

{% extends "base.html" %}
{% block hype %}Let your voice be heard.{% endblock %}
{% block instructions %}Fill out this form to add your thoughts to our forum{% endblock %}
{% block content %}
<div class="container">

  <div class="card"">
        <div class=" card-body">
    <h5 class="card-title">Create a new post</h5>

    <form action="{{url_for('new_post')}}" method='POST' enctype="multipart/form-data">
      <div class="row">
        <div class="col-lg-6">

          <p>Your name: </p>
          <input type='text' size='30' name='author'>
          <br>
          <br>
          <p>College: </p>
          <input type='text' size='30' name='college'>
          <br>
          <br>
        </div>
        <div class="col-lg-6">
          <p>Date: (Click the arrow for a calendar!)</p>
          <input type='date' min="2000-01-01" max="2020-12-12" size='30' name='date'>
          <br>
          <br>
          <p>Your thoughts: </p>
          <input type='text' size='30' name='notes'>
          <br>
          <br>
          <input type='submit' value='Create'>
        </div>
    </form>
  </div>
</div>
</div>
</div>
<br>
{% endblock %}
