<!DOCTYPE html>
<html>

<head>
  <style>

    html, body {
      font-family: Arial, sans-serif;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #map {
      height: 100%;
    }

  </style>
</head>

<body>
  <div id="map"></div>
  <script>
    var map;
    // Create a new blank array for all the listing markers.
    var markers = [];
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {center: {lat: 39.8283,lng: 98.5795},zoom: 20});

      var locations = [{title: 'University of Southern California',location: {lat: 34.0224,lng: -118.2851}},
        {title: 'Williams College',location: {lat: 42.7130,lng: -73.2036}},
        {title: 'University of Iowa',location: {lat: 41.6627,lng: -91.5549}},
        {title: 'High Point University',location: {lat: 35.9722,lng: -79.9956}},
        {title: 'University of the Ozarks',location: {lat: 35.4759,lng: -93.4663}},
        {title: 'Cooper Union',location: {lat: 40.7281,lng: -73.9916}},
        {title: 'Calvin College',location: {lat: 42.9299,lng: -85.5893}}];

      var largeInfowindow = new google.maps.InfoWindow();
      var bounds = new google.maps.LatLngBounds();
      // The following group uses the location array to create an array of markers on initialize.
      for (var i = 0; i < locations.length; i++) {
        // Get the position from the location array.
        var position = locations[i].location;
        var title = locations[i].title;
        var marker = new google.maps.Marker({
          map: map,
          position: position,
          title: title,
          animation: google.maps.Animation.DROP,
          id: i
        });
        markers.push(marker);
        marker.addListener('click', function() {
          populateInfoWindow(this, largeInfowindow);
        });
        bounds.extend(markers[i].position);
      }
      // Extend the boundaries of the map for each marker
      map.fitBounds(bounds);
    }
    function populateInfoWindow(marker, infowindow) {
      // Check to make sure the infowindow is not already opened on this marker.
      if (infowindow.marker != marker) {
        infowindow.marker = marker;
        infowindow.setContent('<div>' + marker.title + '</div>');
        infowindow.open(map, marker);
        // Make sure the marker property is cleared if the infowindow is closed.
        infowindow.addListener('closeclick', function() {
          infowindow.setMarker = null;
        });
      }
    }
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCooqoWpl14FzJNfcdRjqAT8kSSgnajzj8&v=3&callback=initMap">
  </script>

</body>

</html>
