<!--coded with guidance from https://www.youtube.com/watch?v=lWA0GgUN8kg -->

{% extends "base.html" %}
{% block hype %}Go where the wind 💨s{% endblock %}
{% block instructions %}Planning a road trip? Search up the weather at your pit stops so you can be prepared.{% endblock %}
{% block content %}
<div class="row">
</div>
<div class="row" style="padding: 25px 50px 100px 150px;">
  {% for weather in weather_data %}
  <div class="card" style="width: 10rem; max-height: 1000px;">
    <img class="card-img-top" src="http://openweathermap.org/img/w/{{weather.icon}}.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{weather.city.name}}</h5>
      <p class="card-text">{{weather.temperature}} °F</p>
      <p class="card-text">{{weather.description}}</p>
    </div>
  </div>
  &nbsp
  &nbsp
  {% endfor %}
  <br>
  <form style="text-align: center; padding-top: 20px;">
    <input type="button" class="btn btn-primary btn-lg btn-block" value="Can't find a city? Add it!" onclick="window.location.href='{{url_for('new_city')}}'">
  </form>
</div>
<br><br>
{% endblock %}
